
@using DayTasksPrioritizer.Models

@model List<TaskModel>

@{
    ViewBag.Title = "Dienos užduočių prioretizavimas";
    int taskIndex = 1;
}

<div style="text-align: center;">

    <h2>Suveskite dienos užduotis</h2>
    <ul data-role="listview">
        @foreach (var task in Model)
        {
            @: <li><input id="@taskIndex" type="text" placeholder="@task.Name" />
            taskIndex++;
        }
    </ul>


<input id="btnPrioritaze" onclick="Prioritize()" disabled="disabled" type="submit" value="Prioretizuoti" />

</div>


<script>

    $(function() {

        var taskIndex = parseInt("@Model.Count") + 1;
        var tasksEntered = 0;

        $("ul").on("focus", "li:last input", function () {

            $("ul").append("<li><input id=" + taskIndex + " type='text' placeholder='Dienos užduotis " + taskIndex + "' </li>");
            taskIndex++;

            if (IsTasksEntered(tasksEntered))
                $("#btnPrioritaze").removeAttr("disabled");

        });



    });


    function IsTasksEntered(tasksEntered) {
        $("li input").each(function() {
            if ($(this).val() != "") {
                tasksEntered++;
            }
        });

        if (tasksEntered >= 2)
            return true;

        return false;
    }

    function Prioritize() {

        var taskArray = new Array();

        var taskIndex = 0;
        $("li input").each(function () {

            taskArray[taskIndex] = $(this).val();

            taskIndex++;
        });

        var tasks = { tasks: taskArray };

        $.ajax({
            type: "post",
            url: "@Url.Action("Prioritize", "Tasks")",
            data: JSON.stringify(tasks),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
        });

    }
    
</script>


