@using System.Threading.Tasks
@using DayTasksPrioritizer.Models

@model List<TaskModel>

@{
    ViewBag.Title = "Dienos užduočių prioretizavimas";
    int taskIndex = 1;
}

<div style="text-align: center;">

    <h2>Suveskite dienos užduotis</h2>
    <ul data-role="listview">
        @foreach (var task in Model)
        {
            @: <li><input id="@taskIndex" type="text" placeholder="@task.Name" />
            taskIndex++;
        }
    </ul>


<input id="btnPrioritaze" disabled="disabled" type="submit" value="Prioretizuoti" />

</div>


<script>

    $(function() {

        var taskIndex = parseInt("@Model.Count") + 1;
        var tasksEntered = 0;

        $("ul").on("focus", "li:last input", function () {

            $("ul").append("<li><input id=" + taskIndex + " type='text' placeholder='Dienos užduotis " + taskIndex + "' </li>");
            taskIndex++;

            if (IsTasksEntered(tasksEntered))
                $("#btnPrioritaze").removeAttr("disabled");

        });



    });


    function IsTasksEntered(tasksEntered) {
        $("li input").each(function() {
            if ($(this).val() != 0) {
                tasksEntered++;
            }
        });

        if (tasksEntered >= 2)
            return true;

        return false;
    }
    
</script>


