@using DayTasksPrioritizer.Models

@model TasksModel

@{
    ViewBag.Title = "Prioritetai padeda siekti tikslų";
    int taskIndex = 1;
}

<form id="formId" action="@Url.Action("Prepare", "Tasks")" method="POST">

<div style="text-align: center;">

    <h2>Siek tikslų, įvesk tikslus (užduotis, darbus)</h2>
    <ul data-role="listview">
        @foreach (var task in Model.TasksList)
        {
            @: <li><input id="@taskIndex" type="text" name="tasks" value="@task.Name" />
            taskIndex++;
        }
    </ul>
    
    <input id="btnPrioritaze" disabled="disabled" type="submit" value="Prioretizuoti!" />
</div>
    
    </form>

<script>

    $(function () {

        var taskIndex = parseInt("@Model.TasksList.Count") + 1;

        if (IsTasksEntered())
            $("#btnPrioritaze").removeAttr("disabled");
        else
            $("#btnPrioritaze").prop("disabled", true);

        $("ul").append("<li><input id=" + taskIndex + " type='text' name='tasks' placeholder='Tikslas " + taskIndex + "' </li>");
        taskIndex++;

        $("ul").on("focus", "li:last input", function () {

            $("ul").append("<li><input id=" + taskIndex + " type='text' name='tasks' placeholder='Tikslas " + taskIndex + "' </li>");
            taskIndex++;

        });

        $("ul").on("keyup", "li input", function () {

            if (IsTasksEntered())
                $("#btnPrioritaze").removeAttr("disabled");
            else
                $("#btnPrioritaze").prop("disabled", true);

        });

    });


    function IsTasksEntered() {

        var tasksEntered = 0;

        $("li input").each(function () {
            if ($(this).val() != "") {
                tasksEntered++;
            }
        });

        if (tasksEntered >= 2) {
            return true;
        }

        return false;
    }

    function Prioritize() {

        var taskArray = new Array();
        var taskIndex = 0;

        $("li input").each(function () {

            taskArray[taskIndex] = $(this).val();
            taskIndex++;
        });

    }

</script>


