@model DayTasksPrioritizer.Models.TasksModel

@{
    ViewBag.Title = "Dienos užduočių sąrašas pagal prioritetą";
    int position = 0;
}

<h2>Dienos užduočių sąrašas pagal prioritetą</h2>

<ul>
    @foreach (var task in Model.TasksList.OrderByDescending(t => t.Priority))
    {
        <li>@(++position). @task.Name</li>
    }
</ul>